html,
body {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 280px;

  font-family: 'Montserrat', sans-serif;
  .fontTextMobile();

  color: var(--colorBlack2);
}

/* только для скринридера */

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;

  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

button:hover {
  cursor: pointer;
}

/* настройки кастомного фокуса */

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

button:focus:not(:focus-visible) {
  outline: none;
}

.js-focus-visible .focus-visible {
  .focusCustom(--colorBlack);
}

.js-focus-visible button.focus-visible {
  outline-offset: 2px;
}

/* сслыка пропуска меню */

.skip-link {
  position: fixed;
  top: -100%;
  left: 0;
  z-index: 100;

  padding: 10px;

  color: var(--colorWhite);

  background-color: var(--colorGreen);
}

.skip-link:focus {
  top: 0;
}

a:hover {
  cursor: pointer;
}

figure {
  margin: 0;
  padding: 0;
}

.bg-grey {
  background-color: var(--colorGrey);
}

/* Bootstrap */

.jumbotron {
  padding: 100px 25px;

  color: var(--colorWhite);

  background-color: var(--colorOrange);
}

.container-fluid {
  padding: 60px 50px;
}

.thumbnail {
  padding: 0 0 15px 0;
  border: none;
  border-radius: 0;
}

.carousel-control.right,
.carousel-control.left {
  color: var(--colorOrange);

  background-image: none;
}

.carousel-indicators li {
  border-color: var(--colorOrange);
}

.carousel-indicators li.active {
  background-color: var(--colorOrange);
}

.panel-default > .panel-heading {
  color: var(--colorWhite);

  background-color: var(--colorOrange);
}

.panel-default > .panel-footer {
  background-color: transparent;
}

.slideanim {
  visibility:hidden;
}

.slide {
  animation-name: slide;
  animation-duration: 1s;
  visibility: visible;
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
