/* переменные css */

:root {

  /* переменные цвета */

  --colorWhite: #ffffff;

  --colorBlack: #000000;
  --colorBlack2: #303030;

  --colorGrey: #f6f6f6;

  --colorOrange: #f4511e;

}

/* переменные less */

/* переменные вьюпорта */

@tabletWidth: 768px;
@desktopWidth: 1100px;

/* центровщик */

@containerDesktop: 90%;

/* переменные плотности экрана */

@retinaDppx2x: 1.5dppx;
@retinaDpi2x: 144dpi;

@retinaDppx3x: 2.4dppx;
@retinaDpi3x: 220dpi;
